# Newport Budget Data
This notebook documents working with the Newport financial dataset in `pandas`. Data processing code is developed here and worked into the visualization app.

In [1]:
import pandas as pd

In [2]:
act_file = '../../Datasets/newport-finances/newport-annual-budget-actuals-2014-2016.csv'

In [3]:
# first 4 rows are header inserted by OpenGov, so drop them
actuals = pd.read_csv(act_file, skiprows=4)

In [4]:
actuals.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,2014-15 Actual,2015-16 Actual
0,Revenues,NaN,NaN,NaN,"157,455,251","143,577,890"
1,Revenues,Local Taxes,NaN,NaN,"73,924,775","75,173,853"
2,Revenues,Local Taxes,(45101) CY Real Estate Taxes,NaN,"66,324,807","68,006,736"
3,Revenues,Local Taxes,(45115) Meals and Beverage Tax,NaN,"2,069,020","2,266,128"
4,Revenues,Local Taxes,(45116) Rooms Tax,NaN,"1,941,837","2,318,567"

In [5]:
actuals = actuals.dropna(subset=['Unnamed: 2'], axis=0)

In [6]:
actuals['Unnamed: 0'].unique()

array(['Revenues', 'Expenses'], dtype=object)

In [7]:
actuals['Unnamed: 1'].unique()

array(['Local Taxes', 'User Fees', 'Contributions', 'Charges for Services',
       'Transfers', 'State and Federal Aid', 'Other Financing Sources',
       'Use of Money and Property', 'Revenues',
       'Contributions/Sale of Property', 'Program Income', 'Service Fees',
       'Beach Revenue', 'Maritime User Fees', 'Investment Income',
       'Miscellaneous Revenue', 'Other', 'Salaries',
       'School Appropriation', 'Employee Benefits', 'Pension Expense',
       'Debt', 'Capital Outlay Expense', 'Purchased Services',
       'Depreciation', 'Operating Expense', 'Utilities',
       'Internal Services', 'Supplies and Materials', 'Library',
       'Repairs and Maintenance', 'Grants Expense', 'Fees', 'Awards',
       'Civic Support', 'Program Expense', 'Expenses', 'Fixed Assets'], dtype=object)

In [8]:
# convert currency strings to ints
actuals[['2014-15 Actual', '2015-16 Actual']] = actuals[['2014-15 Actual', '2015-16 Actual']].replace(',','', regex=True).astype('int')

In [13]:
detail_list = []
for i, row in actuals.iterrows():
    detail_list.extend([(row['Unnamed: 1'], row['Unnamed: 2'], row['2014-15 Actual'], row['2015-16 Actual'])])

In [21]:
actuals.groupby('Unnamed: 0')['2014-15 Actual'].sum()

Unnamed: 0
Expenses    131682316
Revenues    157455250
Name: 2014-15 Actual, dtype: int32

In [47]:
grp = actuals.groupby('Unnamed: 1')
list(zip(list(grp['2014-15 Actual'].sum().index), list(grp['2014-15 Actual'].sum().values)))

[('Awards', 194171),
 ('Beach Revenue', 838484),
 ('Capital Outlay Expense', 4650735),
 ('Charges for Services', 9593161),
 ('Civic Support', 113450),
 ('Contributions', 11633389),
 ('Contributions/Sale of Property', 3194563),
 ('Debt', 8693281),
 ('Depreciation', 5671146),
 ('Employee Benefits', 21543446),
 ('Expenses', 3750),
 ('Fees', 612782),
 ('Fixed Assets', -357388),
 ('Grants Expense', 1190870),
 ('Internal Services', 2599208),
 ('Investment Income', 292079),
 ('Library', 1756025),
 ('Local Taxes', 73924776),
 ('Maritime User Fees', 799311),
 ('Miscellaneous Revenue', 53589),
 ('Operating Expense', 5067072),
 ('Other', 800075),
 ('Other Financing Sources', 6158546),
 ('Pension Expense', 10783984),
 ('Program Expense', 46360),
 ('Program Income', 368795),
 ('Purchased Services', 5797334),
 ('Repairs and Maintenance', 1457062),
 ('Revenues', 1904193),
 ('Salaries', 27004444),
 ('School Appropriation', 23377157),
 ('Service Fees', 1161272),
 ('State and Federal Aid', 4483058),
 ('Supplies and Materials', 2544724),
 ('Transfers', 8299779),
 ('Use of Money and Property', 7582881),
 ('User Fees', 31326979),
 ('Utilities', 3973023)]

In [60]:
grp.get_group('Local Taxes').groupby('Unnamed: 0')

In [72]:
for name, group in grp:
    print(name)
    print(group['Unnamed: 0'].unique())
    print(group['2014-15 Actual'].sum())

Awards
['Expenses']
194171
Beach Revenue
['Revenues']
838484
Capital Outlay Expense
['Expenses']
4650735
Charges for Services
['Revenues']
9593161
Civic Support
['Expenses']
113450
Contributions
['Revenues']
11633389
Contributions/Sale of Property
['Revenues']
3194563
Debt
['Expenses']
8693281
Depreciation
['Expenses']
5671146
Employee Benefits
['Expenses']
21543446
Expenses
['Expenses']
3750
Fees
['Expenses']
612782
Fixed Assets
['Expenses']
-357388
Grants Expense
['Expenses']
1190870
Internal Services
['Expenses']
2599208
Investment Income
['Revenues']
292079
Library
['Expenses']
1756025
Local Taxes
['Revenues']
73924776
Maritime User Fees
['Revenues']
799311
Miscellaneous Revenue
['Revenues']
53589
Operating Expense
['Expenses']
5067072
Other
['Revenues' 'Expenses']
800075
Other Financing Sources
['Revenues']
6158546
Pension Expense
['Expenses']
10783984
Program Expense
['Expenses']
46360
Program Income
['Revenues']
368795
Purchased Services
['Expenses']
5797334
Repairs and Maintenance
['Expenses']
1457062
Revenues
['Revenues']
1904193
Salaries
['Expenses']
27004444
School Appropriation
['Expenses']
23377157
Service Fees
['Revenues']
1161272
State and Federal Aid
['Revenues']
4483058
Supplies and Materials
['Expenses']
2544724
Transfers
['Revenues' 'Expenses']
8299779
Use of Money and Property
['Revenues']
7582881
User Fees
['Revenues']
31326979
Utilities
['Expenses']
3973023

In [74]:
grouped = actuals.groupby('Unnamed: 0')

In [83]:
grouped.get_group('Revenues').groupby('Unnamed: 1')['2014-15 Actual'].sum()

Unnamed: 1
Beach Revenue                       838484
Charges for Services               9593161
Contributions                     11633389
Contributions/Sale of Property     3194563
Investment Income                   292079
Local Taxes                       73924776
Maritime User Fees                  799311
Miscellaneous Revenue                53589
Other                               100000
Other Financing Sources            6158546
Program Income                      368795
Revenues                           1904193
Service Fees                       1161272
State and Federal Aid              4483058
Transfers                          4040174
Use of Money and Property          7582881
User Fees                         31326979
Name: 2014-15 Actual, dtype: int32

In [86]:
grouped.get_group('Revenues').groupby('Unnamed: 1').groups

{'Beach Revenue': Int64Index([129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139], dtype='int64'),
 'Charges for Services': Int64Index([38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
             55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
             72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83],
            dtype='int64'),
 'Contributions': Int64Index([33, 34, 35, 36], dtype='int64'),
 'Contributions/Sale of Property': Int64Index([115, 116, 117, 118, 119, 120, 121], dtype='int64'),
 'Investment Income': Int64Index([149, 150], dtype='int64'),
 'Local Taxes': Int64Index([2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64'),
 'Maritime User Fees': Int64Index([141, 142, 143, 144, 145, 146, 147], dtype='int64'),
 'Miscellaneous Revenue': Int64Index([152], dtype='int64'),
 'Other': Int64Index([154], dtype='int64'),
 'Other Financing Sources': Int64Index([103, 104], dtype='int64'),
 'Program Income': Int64Index([123, 124], dtype='int64'),
 'Revenues': Int64Index([109, 110, 111, 112, 113], dtype='int64'),
 'Service Fees': Int64Index([126, 127], dtype='int64'),
 'State and Federal Aid': Int64Index([88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101], dtype='int64'),
 'Transfers': Int64Index([85, 86], dtype='int64'),
 'Use of Money and Property': Int64Index([106, 107], dtype='int64'),
 'User Fees': Int64Index([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
             29, 30, 31],
            dtype='int64')}

In [87]:
grouped.groups

{'Expenses': Int64Index([157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
             ...
             338, 339, 341, 342, 344, 346, 347, 348, 349, 350],
            dtype='int64', length=172),
 'Revenues': Int64Index([  2,   3,   4,   5,   6,   7,   8,   9,  10,  12,
             ...
             142, 143, 144, 145, 146, 147, 149, 150, 152, 154],
            dtype='int64', length=137)}

In [107]:
cons = {}
for name, group in grouped:
    sums = group.groupby('Unnamed: 1')['2014-15 Actual'].sum()
    cons[name] = sums

In [121]:
nodes = []
for i in cons['Revenues'].index:
    nodes.extend([('Revenues', i, cons['Revenues'][i])])

In [137]:
nodes

[('Revenues', 'Beach Revenue', 838484),
 ('Revenues', 'Charges for Services', 9593161),
 ('Revenues', 'Contributions', 11633389),
 ('Revenues', 'Contributions/Sale of Property', 3194563),
 ('Revenues', 'Investment Income', 292079),
 ('Revenues', 'Local Taxes', 73924776),
 ('Revenues', 'Maritime User Fees', 799311),
 ('Revenues', 'Miscellaneous Revenue', 53589),
 ('Revenues', 'Other', 100000),
 ('Revenues', 'Other Financing Sources', 6158546),
 ('Revenues', 'Program Income', 368795),
 ('Revenues', 'Revenues', 1904193),
 ('Revenues', 'Service Fees', 1161272),
 ('Revenues', 'State and Federal Aid', 4483058),
 ('Revenues', 'Transfers', 4040174),
 ('Revenues', 'Use of Money and Property', 7582881),
 ('Revenues', 'User Fees', 31326979)]

In [125]:
lev2 = []
for i, row in grouped.get_group('Revenues').iterrows():
    lev2.extend([(row['Unnamed: 2'], row['Unnamed: 1'], row['2014-15 Actual'])])

In [126]:
lev2

[('(45101) CY Real Estate Taxes', 'Local Taxes', 66324807),
 ('(45115) Meals and Beverage Tax', 'Local Taxes', 2069020),
 ('(45116) Rooms Tax', 'Local Taxes', 1941837),
 ('(45103) CY Motor Vehicle Taxes', 'Local Taxes', 1840371),
 ('(45105) Real Estate Delinquent', 'Local Taxes', 1265060),
 ('(45110) Penalties', 'Local Taxes', 354530),
 ('(45107) Motor Vehicle Delinquent', 'Local Taxes', 106814),
 ('(45111) Tax Liens', 'Local Taxes', 22337),
 ('(45112) Tax Abatements', 'Local Taxes', 0),
 ('(47109) Metered Water Charges', 'User Fees', 11771666),
 ('(47111) Metered User Fees', 'User Fees', 7959854),
 ('(47110) Bulk Water Charges', 'User Fees', 3472252),
 ('(45862) CSO Fixed Fee', 'User Fees', 2089693),
 ('(45801) Equipment Operations Interfu', 'User Fees', 1365690),
 ('(47105) Public Fire Protection', 'User Fees', 973663),
 ('(47125) Water Billing Charges', 'User Fees', 923473),
 ('(45857) Sewage Treatment Navy', 'User Fees', 668506),
 ('(45891) Parking Meters', 'User Fees', 685996),
 ('(45856) Sewage Treatment Water Fund', 'User Fees', 467154),
 ('(47107) Private Fire Protection', 'User Fees', 404678),
 ('(47136) Middletown Reimbursement', 'User Fees', 146895),
 ('(47100) Sundry Billings', 'User Fees', 147125),
 ('(45879) Pre-treatment Fees', 'User Fees', 117288),
 ('(47135) Water Penalty', 'User Fees', 54474),
 ('(47120) User Fee Penalties', 'User Fees', 36841),
 ('(47137) Water Quality Protection Rev', 'User Fees', 23638),
 ('(47115) Other Revenue', 'User Fees', 25),
 ('(45855) Sewer Assessment Fee', 'User Fees', 10215),
 ('(47130) Water Misc Revenue', 'User Fees', 7853),
 ('(45807) Contribution From City', 'Contributions', 10060268),
 ('(45810) Unfunded Member Contribution', 'Contributions', 1095144),
 ('(47150) Middletown Contrib to Emergency', 'Contributions', 338610),
 ('(45811) Contributions', 'Contributions', 139367),
 ('(45505) Special Detail Charges', 'Charges for Services', 1955739),
 ('(45640) Building Permits', 'Charges for Services', 1020579),
 ('(45540) Management Services to Other', 'Charges for Services', 881628),
 ('(45603) Parking Tickets', 'Charges for Services', 700913),
 ('(45608) Rescue Fees', 'Charges for Services', 790197),
 ('(45606) Real Estate Conveyance Fee', 'Charges for Services', 765799),
 ('(45666) Jai Alai Video and Slot Mach', 'Charges for Services', 456356),
 ('(45502) GMH Service Charges', 'Charges for Services', 351388),
 ('(45605) Recording Fees', 'Charges for Services', 294772),
 ('(45644) Mechanical Permits', 'Charges for Services', 254977),
 ('(45646) Electrical Permits', 'Charges for Services', 255296),
 ('(45616) Liquor Licenses', 'Charges for Services', 192090),
 ('(45503) HOPE VI Service Charges', 'Charges for Services', 170027),
 ('(45545) Fire Alarm Assessment', 'Charges for Services', 160373),
 ('(45660) Municipal Court Assessments', 'Charges for Services', 141620),
 ('(45654) Fire Inspection Fees', 'Charges for Services', 157244),
 ('(47103) Disposal Permits', 'Charges for Services', 130471),
 ('(45549) Recreation Fees', 'Charges for Services', 100162),
 ('(45610) General Business Fee', 'Charges for Services', 92518),
 ('(45652) Road Opening Permits', 'Charges for Services', 99863),
 ('(45530) Computer Processing Fees', 'Charges for Services', 178887),
 ('(45642) Plumbing Permits', 'Charges for Services', 82872),
 ('(45515) Document Preparation and Han', 'Charges for Services', 60030),
 ('(45624) Victualing Licenses', 'Charges for Services', 57080),
 ('(45607) Probate Fees', 'Charges for Services', 36451),
 ('(45601) Ballfield Rentals', 'Charges for Services', 34573),
 ('(45648) Board of Appeals Fee', 'Charges for Services', 16475),
 ('(45614) Entertainment Licenses', 'Charges for Services', 25185),
 ('(45620) Sunday Selling Licenses', 'Charges for Services', 24500),
 ('(45656) Fire Sundry', 'Charges for Services', 19550),
 ('(45547) Bulky Waste Sticker Prog', 'Charges for Services', 9620),
 ('(45650) Historic District Commission', 'Charges for Services', 13200),
 ('(45618) Mechanical Amusement License', 'Charges for Services', 11200),
 ('(45658) Police Sundry', 'Charges for Services', 6621),
 ('(45612) Hotel Registration Fees', 'Charges for Services', 7550),
 ('(45504) Salve Regina Service Charge', 'Charges for Services', 6902),
 ('(45628) Marriage Licenses', 'Charges for Services', 5744),
 ('(45889) King Park Permits', 'Charges for Services', 6102),
 ('(45517) Solid Waste Hauler Lic Fee', 'Charges for Services', 4750),
 ('(45548) HR Regional Testing Charges', 'Charges for Services', 5130),
 ('(45626) Animal Licenses', 'Charges for Services', 4502),
 ('(45880) Fishing Vehicle Parking Fees', 'Charges for Services', 2160),
 ('(45516) Planning Services', 'Charges for Services', 653),
 ('(45664) Vendor Rights', 'Charges for Services', 659),
 ('(45546) Recycling Bins', 'Charges for Services', 599),
 ('(45662) Payphone Commissions', 'Charges for Services', 154),
 ('(48007) Transfer In for Capital Proj', 'Transfers', 2943950),
 ('(46002) Transfer From Other Funds', 'Transfers', 1096224),
 ('(45326) School Housing Aid from Stat', 'State and Federal Aid', 1017394),
 ('(45328) PILOT From State', 'State and Federal Aid', 1315321),
 ('(45345) Federal Aid', 'State and Federal Aid', 718690),
 ('(45331) State Aid', 'State and Federal Aid', 394773),
 ('(45323) Public Service Corp State Ai', 'State and Federal Aid', 330398),
 ('(45329) Library Construction State A', 'State and Federal Aid', 200053),
 ('(45335) Pension Incentive Aid (State', 'State and Federal Aid', 116689),
 ('(45350) Federal Stimulus Aid', 'State and Federal Aid', 191543),
 ('(45325) Motor Vehicle Phase Out Stat', 'State and Federal Aid', 77876),
 ('(45340) FEMA', 'State and Federal Aid', 0),
 ('(45333) Federal Drug Seizure Forfeit', 'State and Federal Aid', 40878),
 ('(45330) Statistical Update Reimburse', 'State and Federal Aid', 73314),
 ('(45334) State Drug Seizure Forfeitur', 'State and Federal Aid', 1509),
 ('(45332) DARE', 'State and Federal Aid', 4620),
 ('(46005) OFS Bond Proceeds', 'Other Financing Sources', 5735000),
 ('(46011) OFS Bond Premium', 'Other Financing Sources', 423546),
 ('(45770) Interest/Capital Gains Incom',
  'Use of Money and Property',
  7200713),
 ('(45700) Rental of Property', 'Use of Money and Property', 382168),
 ('(45854) Description pending', 'Revenues', 738302),
 ('(45886) Gateway Parking - Vendor', 'Revenues', 605762),
 ('(45882) Mary Street Parking', 'Revenues', 352017),
 ('(45888) Gateway Parking - Marriott', 'Revenues', 105000),
 ('(45892) Description pending', 'Revenues', 103112),
 ('(45930) Sale of Property', 'Contributions/Sale of Property', 2422500),
 ('(45941) OPEB Trust - City Contributi',
  'Contributions/Sale of Property',
  500000),
 ('(45920) Trust Fund Revenue', 'Contributions/Sale of Property', 191500),
 ('(45940) Preservation Society Income',
  'Contributions/Sale of Property',
  50000),
 ("(45925) Family & Children's Night",
  'Contributions/Sale of Property',
  18666),
 ('(45929) Sale of Surplus Equipment',
  'Contributions/Sale of Property',
  11897),
 ('(45926) Recreation Scholarship Reven', 'Contributions/Sale of Property', 0),
 ('(45750) Program Income', 'Program Income', 323917),
 ('(45751) Program Interest Income', 'Program Income', 44878),
 ('(45690) Equipment Services Charges', 'Service Fees', 869907),
 ('(45878) WPC Billing Reimbursement', 'Service Fees', 291365),
 ('(45827) Beach Parking Revenue', 'Beach Revenue', 507848),
 ('(45822) Rotunda Rentals', 'Beach Revenue', 148005),
 ('(45825) Food Concession Revenues', 'Beach Revenue', 38553),
 ('(45821) Bathhouse Rentals', 'Beach Revenue', 46936),
 ('(45829) Beach Parking Meters', 'Beach Revenue', 37242),
 ('(45828) Beach Store Sales', 'Beach Revenue', 19699),
 ('(45820) Beach Bounce Fees', 'Beach Revenue', 15675),
 ('(45823) Carousel Income', 'Beach Revenue', 14059),
 ('(45826) Outside Vendor Revenues', 'Beach Revenue', 8007),
 ("(45699) Easton's Beach Misc Revenue", 'Beach Revenue', 1906),
 ('(45824) Beach Bounce Food', 'Beach Revenue', 554),
 ('(45813) Harbor Fees', 'Maritime User Fees', 371508),
 ('(45816) Harbor Fines and Fees', 'Maritime User Fees', 194424),
 ('(45802) Cruise Ship Fees', 'Maritime User Fees', 192684),
 ('(47116) Perrotti Park Transient Dock', 'Maritime User Fees', 13463),
 ('(45803) Ann St Pier Fees', 'Maritime User Fees', 13533),
 ('(47160) Maritime Center Revenue', 'Maritime User Fees', 8363),
 ('(45804) Dingy Permit Fees', 'Maritime User Fees', 5336),
 ('(45701) Investment Income', 'Investment Income', 139480),
 ('(45740) School OPEB Income', 'Investment Income', 152599),
 ('(45695) Miscellaneous Revenues', 'Miscellaneous Revenue', 53589),
 ('(45808) Salary Reimbursement from Pa', 'Other', 100000)]

In [117]:
extr = []
for name, group in grouped:
    sums = group.groupby('Unnamed: 1')['2014-15 Actual'].sum()
    for i in sums.index:
        extr.extend([(name, i , sums[i])])

In [118]:
extr

[('Expenses', 'Awards', 194171),
 ('Expenses', 'Capital Outlay Expense', 4650735),
 ('Expenses', 'Civic Support', 113450),
 ('Expenses', 'Debt', 8693281),
 ('Expenses', 'Depreciation', 5671146),
 ('Expenses', 'Employee Benefits', 21543446),
 ('Expenses', 'Expenses', 3750),
 ('Expenses', 'Fees', 612782),
 ('Expenses', 'Fixed Assets', -357388),
 ('Expenses', 'Grants Expense', 1190870),
 ('Expenses', 'Internal Services', 2599208),
 ('Expenses', 'Library', 1756025),
 ('Expenses', 'Operating Expense', 5067072),
 ('Expenses', 'Other', 700075),
 ('Expenses', 'Pension Expense', 10783984),
 ('Expenses', 'Program Expense', 46360),
 ('Expenses', 'Purchased Services', 5797334),
 ('Expenses', 'Repairs and Maintenance', 1457062),
 ('Expenses', 'Salaries', 27004444),
 ('Expenses', 'School Appropriation', 23377157),
 ('Expenses', 'Supplies and Materials', 2544724),
 ('Expenses', 'Transfers', 4259605),
 ('Expenses', 'Utilities', 3973023),
 ('Revenues', 'Beach Revenue', 838484),
 ('Revenues', 'Charges for Services', 9593161),
 ('Revenues', 'Contributions', 11633389),
 ('Revenues', 'Contributions/Sale of Property', 3194563),
 ('Revenues', 'Investment Income', 292079),
 ('Revenues', 'Local Taxes', 73924776),
 ('Revenues', 'Maritime User Fees', 799311),
 ('Revenues', 'Miscellaneous Revenue', 53589),
 ('Revenues', 'Other', 100000),
 ('Revenues', 'Other Financing Sources', 6158546),
 ('Revenues', 'Program Income', 368795),
 ('Revenues', 'Revenues', 1904193),
 ('Revenues', 'Service Fees', 1161272),
 ('Revenues', 'State and Federal Aid', 4483058),
 ('Revenues', 'Transfers', 4040174),
 ('Revenues', 'Use of Money and Property', 7582881),
 ('Revenues', 'User Fees', 31326979)]